#dialog-add-teacher {
    width: 35rem;
}

.form-add-teacher {
    padding: 1.4rem 1.5rem;
    justify-content: left;
    font-size: 0.9rem;
}

.form-add-teacher div {
    text-align: left;
    margin-bottom: 2rem;
}

.form-add-teacher div label, 
.form-add-teacher div input, 
.form-add-teacher div select, 
.form-add-teacher textarea, 
.form-add-teacher button {
    width: 100%;
}

.form-add-teacher button {
    font-size: 1.4rem;
}

.form-add-teacher input, .form-add-teacher select, .form-add-teacher textarea {
    margin-top: 8px;
    padding: 0.5rem 0.4rem;
}

a .form-add-teacher textarea {
    height: 8rem;
}

.dialog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
}

.dialog-sex-teacher, .dialog-background, .dialog-background div {
    display: flex;
    align-items: center;
}

.dialog-sex-teacher p, .dialog-background p {
    margin-right: 2rem;
}

.dialog-sex-teacher div {
    color: var(--text-gray);
    display: flex;
    align-items: center;
    margin: 0;
}

.dialog-sex-teacher div input {
    margin: 0 1rem 0 0.5rem;
}

.dialog-grid div, .dialog-background div, .dialog-background div input {
    margin: 0;
}

.dialog-background div img {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
}

.dialog-background div input {
    width: 4rem;
    padding: 5px 2px;
}

.form-add-teacher .dialog-background label {
    width: fit-content;
    margin-right: 2rem;
}