.statistics {
    margin-bottom: 1.8rem;
}

table {
    width: 100%;
    color: var(--text-gray);
}

th {
    padding: 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--text-gray);
    position: relative;
}

th:hover {
    box-shadow: inset 0 -2px 0 var(--text-gray);
    background-color: #f0f0f042;
}

td {
    padding: 0.6rem;
}

th::after {
    content: "";
}

th:hover::after {
    content: "↓";
    position: absolute;
    margin-left: 10px;
    color: darkcyan;
}

th.asc::after {
    content: "↑" !important;
    position: absolute;
    margin-left: 10px;
    color: darkcyan;
}

th.desc::after {
    content: "↓" !important;
    position: absolute;
    margin-left: 10px;
    color: darkcyan;
}

tr:nth-child(odd):not(:first-child) {
    background-color: #FAF5FB;
}

th:first-child,
td:first-child {
    text-align: left;
}

.table-pages ul {
    margin: 2rem 0.4rem;
}

.table-pages li {
    float: left;
    margin-left: 0.7rem;
}

.table-pages li a {
    text-decoration: none;
}

.table-pages li a {
    cursor: pointer;
    color: darkcyan;
    transition: all 0.3s;
}

.table-pages li a:hover {
    cursor: pointer;
    color: rgb(1, 67, 67);
}

@media (max-width: 950px) {
    th {
        font-size: 1rem;
    }

    td {
        font-size: 0.9rem;
    }
}

@media (max-width: 620px) {
    .statistics div {
        overflow: scroll
    }
}

.chart-container {
    max-width: 35rem;
    margin: 0 auto;
}

.tabs {
    margin-bottom: 20px;
}

.tab {
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    color: #807b7b;
    border-radius: 4px;
    transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

.tab:hover {
    background-color: var(--dark-main);
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tab.active {
    background-color: var(--dark-main);
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}